body {
    background-color: rgba(33, 47, 60, 0.9);
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

#nav-toggle-brand a, #nav-toggle-brand span {
    color: #ffffff;
}

#nav-toggle {
    color: #ffffff;
}

#top #top-nav-main a {
    color: #ffffff;
}

#top #top-brand a {
    color: rgba(233, 231, 231, 0.5);
}

#top #top-nav-main a:hover {
    color: rgba(233, 231, 231, 0.5);
}

address, blockquote, dl, fieldset, figure, form, hr, ol, p, pre, table, ul {
    margin-bottom: 16px;
    padding: 10px;
}

#action-buttons p {
    color: rgba(255, 255, 255, 255);
}

#posts {
    text-align: left;
}

#posts li {
    margin-bottom: 8px;
}

#hero {
    padding-bottom: 1px;
}

#hero p {
    color: rgba(233, 231, 231, 0.5);
}

#kube-features p {
    color: rgba(255, 255, 255, 255);
}

#footer {
    color: rgba(255, 255, 255, 255);
    margin: 4px 0;
}

#footer nav ul li a {
    color: rgba(255, 255, 255, 255);
}

#footer nav ul li span {
    color: rgba(233, 231, 231, 0.5);
}

#footer nav ul li a:hover {
    color: rgba(233, 231, 231, 0.5);
}

#patreon_button {
    height: 40px;
}