{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>GitNex</h1>
    <p>Nothing here...</p>
    <div style="margin-bottom: 15px"></div>
    <div id="action-buttons">
    	<a class="button primary big" href="/">Go to Home Page</a>
  	</div>
</div>
<br>

{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}
