  <footer id="footer">
    <nav>
      <ul>
        <li>
            <a href="/download/">Download</a>
        </li>
        <li>
          <a href="https://gitea.com/mmarif/GitNex/issues">Releases</a>
        </li>
        <li>
          <a href="https://gitea.com/mmarif/GitNex/wiki">Wiki</a>
        </li>
        <li>
          <a href="https://gitea.com/mmarif/GitNex/src/branch/master/fastlane/metadata/android/en-US/images/phoneScreenshots">Screenshots</a>
        </li>
        <li>
          <a href="https://gitea.com/mmarif/GitNex">Source Code</a>
        </li>
        <li>
          <a href="/privacy/">Privacy</a>
        </li>
        <li>
          <a rel="me" href="https://mastodon.social/@mmarif" target="_blank">Mastodon</a>
        </li>
      </ul>
    </nav>
    <p>&copy; GitNex</p>
  </footer>
