{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="/download/">Download</a> <a class="button outline big" href="https://gitea.com/mmarif/GitNex">View on Gitea</a>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <h3>Create Repository / Organization</h3>
        <p>Create new repository under your own namespace or create new organization to create a repository under it.</p>
      </div>
      <div class="col col-4 item">
        <h3>Create Issue / Milestone / Label</h3>
        <p>Create new issue, milestone and label in a repository. Comment on issues with markdown and emoji support.</p>
      </div>
      <div class="col col-4 item">
        <h3>Search</h3>
        <p>Search for repository by name or description. Search issues by title or description.</p>
      </div>
    </div>
    </div>
    <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <h3>Markdown / Emoji Support</h3>
        <p>Markdown code and emoji rendering support.</p>
      </div>
      <div class="col col-4 item">
        <h3>Repositories / Issues Meta</h3>
        <p>Repositories meta data with stars, issues count, watchers list etc. Issues meta data with comments count, type(PR, Issue), due date, milestone, created time etc.</p>
      </div>
      <div class="col col-4 item">
        <h3>Profile</h3>
        <p>Basic user profile screen with avatar, name, username, email and language.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>View Branches / Milestones / Collaborators</h4>
        <p>View the branches, milestones and collaborators in list and grid view.</p>
      </div>
      <div class="col col-4 item">
        <h4>Releases</h4>
        <p>Download the latest APK from releases page or checkout the release notes.</p>
      </div>
      <div class="col col-4 item">
        <h4>Settings</h4>
        <p>Change to your native language. Choose between pretty and normal date & time.</p>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
